<div class="center-align">
    <form class="form-border">
        {% include gifttargetlogo_include.html %}
        <label>Email</label><br />
        <input type="email" class="form-width" /><br />
        <label>Password</label><br />
        <input type="password" class="form-width" /><br />
        <button type="button" class="button">Sign in</button>
        <div class="block">
            <span class="float-left">Forgot Password?</span>
            <span class="float-right">Sign Up</span>
        </div>
    </form>

</div>