<header>
    <nav>
        <ul class="nav">        
            <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{site.baseUrl}}/">Gift Target</a></li>
            <li class="{% if page.url == '/login-form/' %}active{% endif %}"><a href="{{site.baseUrl}}/login-form/">Login</a></li>
            <li class="{% if page.url == '/login-invalid/' %}active{% endif %}"><a href="{{site.baseUrl}}/login-invalid/">Login Invalid</a></li>
            <li class="{% if page.url == '/menu/' %}active{% endif %}"><a href="{{site.baseUrl}}/menu/">Menu</a></li>
            <li class="{% if page.url == '/payment-confirmation/' %}active{% endif %}"><a href="{{site.baseUrl}}/payment-confirmation/">Payment Confirmation</a></li>
            <li class="{% if page.url == '/payment-information/' %}active{% endif %}"><a href="{{site.baseUrl}}/payment-information/">Payment Information</a></li>
            <li class="{% if page.url == '/payment-invalid/' %}active{% endif %}"><a href="{{site.baseUrl}}/payment-invalid/">Payment Invalid</a></li>
            <li class="{% if page.url == '/payment-success/' %}active{% endif %}"><a href="{{site.baseUrl}}/payment-success/">Payment Success</a></li>
            <li class="{% if page.url == '/questionnaire/' %}active{% endif %}"><a href="{{site.baseUrl}}/questionnaire/">Questionnaire</a></li>
            <li class="{% if page.url == '/user-decision/' %}active{% endif %}"><a href="{{site.baseUrl}}/user-decision/">User Decision</a></li>
            <li class="{% if page.url == '/admin-decision/' %}active{% endif %}"><a href="{{site.baseUrl}}/admin-decision/">Admin Decision</a></li>
            <li class="{% if page.url == '/add-equipment/' %}active{% endif %}"><a href="{{site.baseUrl}}/add-equipment/">Add Equipment</a></li>
            <li class="{% if page.url == '/account-type/' %}active{% endif %}"><a href="{{site.baseUrl}}/account-type/">Account Type</a></li>
        </ul>
    </nav>
</header>
