<header>
    <nav>
        <ul class="nav">        
            <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{site.baseUrl}}/">Gift Target</a></li>
            <li class="{% if page.url == '/login_form/' %}active{% endif %}"><a href="{{site.baseUrl}}/login_form/">Login</a></li>
            <li class="{% if page.url == '/login_invalid/' %}active{% endif %}"><a href="{{site.baseUrl}}/login_invalid/">Login Invalid</a></li>
            <li class="{% if page.url == '/menu/' %}active{% endif %}"><a href="{{site.baseUrl}}/menu/">Menu</a></li>
            <li class="{% if page.url == '/payment_confirmation/' %}active{% endif %}"><a href="{{site.baseUrl}}/payment_confirmation/">Payment Confirmation</a></li>
            <li class="{% if page.url == '/payment_information/' %}active{% endif %}"><a href="{{site.baseUrl}}/payment_information/">Payment Information</a></li>
            <li class="{% if page.url == '/payment_invalid/' %}active{% endif %}"><a href="{{site.baseUrl}}/payment_invalid/">Payment Invalid</a></li>
            <li class="{% if page.url == '/payment_success/' %}active{% endif %}"><a href="{{site.baseUrl}}/payment_success/">Payment Success</a></li>
            <li class="{% if page.url == '/questionnaire/' %}active{% endif %}"><a href="{{site.baseUrl}}/questionnaire/">Questionnaire</a></li>
            <li class="{% if page.url == '/user_decision/' %}active{% endif %}"><a href="{{site.baseUrl}}/user_decision/">User Decision</a></li>
            <li class="{% if page.url == '/admin_decision/' %}active{% endif %}"><a href="{{site.baseUrl}}/admin_decision/">Admin Decision</a></li>
            <li class="{% if page.url == '/add_equipment/' %}active{% endif %}"><a href="{{site.baseUrl}}/add_equipment/">Add Equipment</a></li>
            <li class="{% if page.url == '/account_type/' %}active{% endif %}"><a href="{{site.baseUrl}}/account_type/">Account Type</a></li>
        </ul>
    </nav>
</header>
