html, input {
    background: #888;
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    font-family: Georgia, 'Bookman Old Style', 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3rem;
}

a {
    text-decoration: none;
    color: #13F;
}

.page-header {
    width: 100%;
}

.page-content {
    padding: 1rem;
}

.post-header {
    width: 100%;
}

.nav-col p a {
    color: #FFF;
}

.post-content {
    padding: 1rem;
}

.nav-col {
    /*float: right;*/
    max-width: 33%; 
    padding: 3rem 0;   
}
    
.nav-col p {
    font-size: 1rem;
    color: #FFF;      
    display: block;
    margin-left: 15px;
}

.do-not-publish {
    display: none;
}

::-moz-selection { /* Code for Firefox */
    color: #000;
    background: #FFF;
}

::selection {
    color: #000; 
    background: #FFF;
}

/* .carousel-item {
    padding: 10rem;
} */